/**,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
*{
	margin:0;padding:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    /*background: rgb(30, 30, 30);*/
    height: 100%;
}
@media screen and (min-width:768px) and (max-width:1280px){
	html{
		font-size: 12px;
	}
}
@media screen and (min-width:1281px) and (max-width:1920px){
	html{
		font-size: 16px;
	}
}
#wrap{
	/*width: 1920px;
	height: 1079px;*/
	width: 100%;
	height: 100%;
	/*background:rgba(0,0,0,0.6);*/
	/*background-image: url(../img/bg_big.png);*/
	margin:auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
	/*display: none;*/
}
#wrapper-sliderTv {
   	display:none;
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 3;
	/*background:red;*/
	overflow: hidden;
}

#sliderTV {
    /*position: absolute;
    top: 228px;
    left: 100px;
    width: 1728px;
    height: 797px;
    background:#fff;
    overflow: hidden;*/
    width: 90%;
	margin-left:5%;
	margin-right:5%;
	/*height: calc(100% - 228px);*/
	height: calc(100% - 21.1%);
	/*background:yellow;*/
	position:relative;
	left:0;
	top:0;
	z-index: 3;
	/*display:none;*/
}

.sliderTV__item {
    /*width: 300px;*/
    /*width: 480px;*/
    /*width: 500px;
    height: 700px;*/
    width: 28.5%;
    height: 82%;
    padding: 10px;
    /*background:pink;*/
}

    .sliderTV__item img {
        /*width: 260px;*/
       /*width: 440px;*/
        /*width: 460px;
        height: 660px;*/
        width: 92%;
        height: 94%;
        cursor: pointer;
        border-radius: 16px;
        /*-webkit-box-reflect: below 0 -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 76%,rgba(250,250,250,0.3)); 
        box-reflect: below 0 -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 76%,rgba(250,250,250,0.3));*/
    }

    .sliderTV__item h1 {
        /*font-size: 20px;*/
        font-size:1.25rem;
        text-align: center;
        color: whitesmoke;
        position: relative;
        /*top: 20px;*/
        /*top:35px;*/
        top:5%;
        text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
    }

.sliderTV--focus img {
    border: 5px rgba(255, 89, 0, 1) solid;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 2px 2px 40px -8px rgba(255,255,255,0.6);
    -moz-box-shadow: 2px 2px 40px -8px rgba(255,255,255,0.6);
    box-shadow: 2px 2px 40px -8px rgba(255,255,255,0.6);
}

.movie img {
    width: 280px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#help__input {
    opacity: 0.6;
}


/*这里写的是我的DOM的样式*/
#wrapMeng{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background-image:url(../img/menpiao_bg.jpg);
	background-size: cover;
	background-position: 50%;
    background-size: 100%;
    -webkit-filter: blur(30px);
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);    
    filter: blur(30px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
   	z-index:2;
   	display:none;
}
#wrapMeng_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background-image: url(../img/bg_big.png);
	background-size: cover;
	opacity: 0.8;
	z-index: 3;
	display:none;

}

/*大型标题*/
.headerWrap{
	position:relative;
	left:0;
	top:0;
	width: 100%;
	/*height: 228px;*/
	height: 21.1%;
	z-index: 4;
}
.headerWrap .header_title{
	width: 24%;
	height: 100%;
	line-height: 294px;
	text-align: center;
	font-family: .PingFangSC;
	/*font-size: 60px;*/
	font-size:3.75rem;
	/*font-weight: 500;*/
	color:#eee;
	float: left;
	/*background:green;*/
}
.headerWrap .header_nav{
	width: 76%;
	/*height: 100%;*/
	/*height:115px;*/
	height: 50.4%;
	padding-top:115px;
	float: left;
	/*background:red;*/
}
.header_nav .navTitle{
	/*width: 176px;
	height: 44px;*/
	/*width: ;*/
	/*font-size: 42px;*/
	font-size:2.625rem;
	float:left;
	color: #eeeeee;
}
.header_nav .navList{
	/*width: 1265px;*/
	width: 100%;
	height: 100%;
	/*font-size: 38px;*/
	font-size:2.375rem;
	/*background:yellow;*/
	float:right;
	overflow: hidden;
}
.header_nav .navListItem{
	/*width: 188px;*/
	height: 72px;
	/*font-size: 46px;*/
	float:left;
	color: #eeeeee;
	border-bottom: 5px solid #eee;
}
.navList .navItem{
	height:60px;
	line-height: 60px;
	float:left;
	margin-left:44px;
	color:#dbdbdb;
}
/*详情介绍版块*/
.myDetails{
	display:none;
	width: 100%;
	height: 100%;
	/*transform: scale(1);
	animation: scales 2s ease;*/
	z-index: 3;
	position:absolute;
	top:0;
	left: 0;
}
@keyframes scales{
	from{
		transform: scale(0)
	}
	to{
		transform: scale(1)
	}
}
@-webkit-keyframes scales{
	from{
		transform: scale(0)
	}
	to{
		transform: scale(1)
	}
}
.detailWrap{
	/*width: 1242px;
	height: 680px;*/
	width: 64.7%;
	height: 63%;
	position: absolute;
	/*top:234px;
	left:339px;*/
	top:21.6%;
	left:17.65%;
	z-index: 3;
	border-radius: 16px;opacity:1;
    background-image: linear-gradient(to bottom, #4e6479, #28333e);
}
.slingerPic{
	/*width: 474px;
    height: 651px;*/
    width: 38.16%;
    height: 95.73%;
    position:absolute;
    /*top:-50px;
    left:-108px;*/
    top:-7.35%;
    left:-8.7%;
    border-radius: 8px;
    /*background:yellow;*/
}
.slingerPic img{
	/*width: 474px;
    height: 651px;*/
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.slingerMain{
	position:absolute;
	right:0;
	top:0;
	/*width: 789px;*/
	width: 63.5%;
	height: 100%;
}
.slin_title{
	/*height: 104px;*/
	height: 16%;
	width: 100%;
	font-family: .PingFangSC;
    /*font-size: 40px;*/
    font-size:2.5rem;
    font-weight: 600;
    color:#eee;
    line-height: 120px;
}
.slin_assess{
	width: 88%;
	/*height: 32px;*/
	height: 5%;
	/*margin-bottom:28px;*/
	margin-bottom:4.3%;
	line-height: 32px;
}
.slin_assess span{
	display:inline-block;
	/*font-size:30px;*/
	font-size:1.875rem;
	color:#eee;
}
.slin_assess span:last-child {
	/*margin-left:30px;*/
}
.slin_mes{
	width: 88%;
	height: auto;
}
.slin_mes li{
	width: 100%;
	/*height: 40px;*/
	height: 6.1%;
    font-family: .PingFangSC;
    /*font-size: 24px;*/
    font-size:1.5rem;
    color:#eee;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 2px;
}
.slin_introduce{
	width: 88%;
	/*height: 170px;*/
	height: 25.1%;
	margin:14px 0;
	font-family: .PingFangSC;
    /*font-size: 22px;*/
    font-size:1.375rem;
    color:#eee;
    overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	line-height: 34px;
	letter-spacing: 1px;
}
.orderBtn{
	/*width: 270px;
	height: 113px;*/
	width: 38%;
	height: 17.35%;
	position: absolute;
	/*right:-30px;
	bottom:79px;*/
	right:-4%;
	bottom:12%;
	background:url(../img/order.png) no-repeat ;
	font-family: .PingFangSC;
    /*font-size: 32px;*/
    font-size:2rem;
    font-weight: 600;
    color:#eee;
    line-height: 136px;
    text-align: center;
}
@media screen and (min-width:768px) and (max-width:1280px){
	.slin_introduce{
		height: 23.1%;
	}
	.orderBtn{
		line-height: 102px;
		width: 51%;
		right:-5.3%;
	}
	.headerWrap .header_title{
		line-height:196px;
	}
	.headerWrap .header_nav{
		padding-top:60px;
		width: 76%;
	}
	.navList .navItem{
		margin-left:32px;
	}
}
@media screen and (min-width:1281px) and (max-width:1920px){
	.slin_introduce{
		height: 25.1%;
	}
	.orderBtn{
		line-height: 144px;
		right:-7.5%;
	}
	.headerWrap .header_title{
		line-height:294px;
	}
}
/*二维码部分*/
.PayOrderwrap{
	display:none;
	position:absolute;
	top:0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	/*background:rgba(0,0,0,0.7);*/
}
.PayOrder{
	position:absolute;
	left:calc(50% - 144px);
	top:calc(50% - 227px);
	width: 288px;
	height: 454px;
	/*background:#fff*/
}
.PayOrder .PayPic{
	width: 100%;
	height: 288px;
	/*background:pink;*/
}
.PayOrder .PayPic img{
	width: 100%;
	height: 100%;
}
.PayOrder .Paytips{
	width: 100%;
	height: 78px;
	/*background:yellow;*/
	color:#fff;
	font-size:20px;
	padding-top:28px;
	text-align: center;
}
.PayOrder .goback{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 100px;
	background:#f71111;
	color:#fff;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 22px;
}
/*虚化*/
.filter{
	-webkit-filter: blur(40px);
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -moz-filter: blur(40px);
    -ms-filter: blur(40px); 
	filter: blur(40px);
}
















/*添加loading*/
body {
  background: #161B29;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 40vw;
  height: 40vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.common {
  height: 5vw;
  max-height: 100%;
  overflow: auto;
  width: 2vw;
  margin: auto;
  max-width: 100%;
  position: absolute;
  background-color: ;
  border-radius: 0vw 10vw 0vw 10vw;
  box-shadow: inset 0vw 0vw 0vw .1vw #E645D0, 0vw 0vw 1.5vw 0vw #E645D0;
}

.one {
  transform: rotate(45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 7.5vw;
}

.two {
  transform: rotate(90deg);
  left: 5.5vw;
  right: 0;
  top: 0;
  bottom: 5.5vw;
}

.three {
  transform: rotate(135deg);
  left: 7.5vw;
  right: 0;
  top: 0;
  bottom: 0;
}

.four {
  transform: rotate(180deg);
  left: 5.5vw;
  right: 0;
  top: 5.5vw;
  bottom: 0;
}

.five {
  transform: rotate(225deg);
  left: 0;
  right: 0;
  top: 7.5vw;
  bottom: 0;
}

.six {
  transform: rotate(270deg);
  left: 0;
  right: 5.5vw;
  top: 5.5vw;
  bottom: 0;
}

.seven {
  transform: rotate(315deg);
  left: 0;
  right: 7.5vw;
  top: 0;
  bottom: 0;
}

.eight {
  transform: rotate(360deg);
  left: 0;
  right: 5.5vw;
  top: 0;
  bottom: 5.5vw;
}

.bar {
  width: 12vw;
  height: .25vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 16vw;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: #E645D0;
}

.progress {
  width: 12vw;
  height: .5vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: #17E1E6;
}

.one {
  animation: one 1s ease infinite;
  -moz-animation: one 1s ease infinite;
  /* Firefox */
  -webkit-animation: one 1s ease infinite;
  /* Safari and Chrome */
  -o-animation: one 1s ease infinite;
  /* Opera */
}

@keyframes one {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.two {
  animation: two 1s .125s ease infinite;
  -moz-animation: two 1s .125s ease infinite;
  /* Firefox */
  -webkit-animation: two 1s .125s ease infinite;
  /* Safari and Chrome */
  -o-animation: two 1s .125s ease infinite;
  /* Opera */
}

@keyframes two {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.three {
  animation: three 1s .25s ease infinite;
  -moz-animation: three 1s .25s ease infinite;
  /* Firefox */
  -webkit-animation: three 1s .25s ease infinite;
  /* Safari and Chrome */
  -o-animation: three 1s .25s ease infinite;
  /* Opera */
}

@keyframes three {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.four {
  animation: four 1s .375s ease infinite;
  -moz-animation: four 1s .375s ease infinite;
  /* Firefox */
  -webkit-animation: four 1s .375s ease infinite;
  /* Safari and Chrome */
  -o-animation: four 1s .375s ease infinite;
  /* Opera */
}

@keyframes four {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.five {
  animation: five 1s .5s ease infinite;
  -moz-animation: five 1s .5s ease infinite;
  /* Firefox */
  -webkit-animation: five 1s .5s ease infinite;
  /* Safari and Chrome */
  -o-animation: five 1s .5s ease infinite;
  /* Opera */
}

@keyframes five {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.six {
  animation: six 1s .625s ease infinite;
  -moz-animation: six 1s .625s ease infinite;
  /* Firefox */
  -webkit-animation: six 1s .625s ease infinite;
  /* Safari and Chrome */
  -o-animation: six 1s .625s ease infinite;
  /* Opera */
}

@keyframes six {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.seven {
  animation: seven 1s .750s ease infinite;
  -moz-animation: seven 1s .750s ease infinite;
  /* Firefox */
  -webkit-animation: seven 1s .750s ease infinite;
  /* Safari and Chrome */
  -o-animation: seven 1s .750s ease infinite;
  /* Opera */
}

@keyframes seven {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.eight {
  animation: eight 1s .875s ease infinite;
  -moz-animation: eight 1s .875s ease infinite;
  /* Firefox */
  -webkit-animation: eight 1s .875s ease infinite;
  /* Safari and Chrome */
  -o-animation: eight 1s .875s ease infinite;
  /* Opera */
}

@keyframes eight {
  0%,
  100% {}
  50% {
    background: ;
    box-shadow: inset 0vw 0vw 0vw .1vw #17E1E6, 0vw 0vw 1.5vw 0vw #17E1E6;
  }
}

.container {
  animation: container 5s linear infinite;
  -moz-animation: container 5s linear infinite;
  /* Firefox */
  -webkit-animation: container 5s linear infinite;
  /* Safari and Chrome */
  -o-animation: container 5s linear infinite;
  /* Opera */
}

@keyframes container {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.progress {
  animation: progress 15s ease;
  -moz-animation: progress 15s ease;
  /* Firefox */
  -webkit-animation: progress 15s ease;
  /* Safari and Chrome */
  -o-animation: progress 15s ease;
  /* Opera */
}

@keyframes progress {
  0% {
    left: -24vw;
  }
  10% {
    left: -20vw;
  }
  30% {
    left: -16vw;
  }
  50% {
    left: -12vw;
  }
  65% {
    left: -10vw;
  }
  80% {
    left: -4vw;
  }
  100% {
    left: 0;
  }
}

.fade-in {
  animation: fade-in 2s ease;
  -moz-animation: fade-in 2s ease;
  /* Firefox */
  -webkit-animation: fade-in 2s ease;
  /* Safari and Chrome */
  -o-animation: fade-in 2s ease;
  /* Opera */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.out {
  animation: out 2s 15s ease;
  -moz-animation: out 2s 15s ease;
  /* Firefox */
  -webkit-animation: out 2s 15s ease;
  /* Safari and Chrome */
  -o-animation: out 2s 15s ease;
  /* Opera */
  /*display:none;*/
}

@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

